.vscode
*.cbp
*.layout
bin
obj
docs/clang-analyzer-guide*
//docs/ClangCheckerGuide.md
//TODO.md
build
install
test/ClassCheckTest/build
test/ClassCheckTest/*.txt
test/ClassCheckTest/*.sh
test/MacroTest/*.sh
test/InclusionTest/*.sh
test/InclusionTest/build/
test/InclusionTest/CMakeLists.txt
docs/*.pdf
docs/~*
