Software-Engineering/Lab1/.vscode/*
./Computer-Arch/Ref/Ref_Implement/*
./Computer-Arch/Ref/Ref_Implement/.vscode/*
./Computer-Arch/Ref/Ref_Implement/.vscode/*
./Computer-Arch/Ref/*
./Computer-Arch/Ref
AI/.vscode
./AI/.vscode/*
./Parallel-Computing/.vscode/*
./Parallel-Computing/.vscode/*
